type: S3
config:
  bucket: {{ cluster_thanos_store_bucket }}
  endpoint: {{ cluster_thanos_store_endpoint }}
  insecure: {{ cluster_thanos_store_insecure }}
  signature_version2: {{ cluster_thanos_store_signature_version2 }}
  access_key: {{ cluster_thanos_store_access_key }}
  secret_key: {{ cluster_thanos_store_secret_key }}