
{
    "apiVersion": 1,
    "datasources": [
        {
             "access": "proxy",
             "editable": false,
             "name": "prometheus",
             "orgId": 1,
             "type": "prometheus",
             "url": "http://thanos-query.{{ cluster_prometheus_namespace }}.svc:9090",
             "version": 1
        },
    ]
}
