---
apiVersion: v1
kind: Deployment
metadata:
  name: pushgateway
  namespace: {{ current_namespace.metadata.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: pushgateway
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: pushgateway
      name: pushgateway
    spec:
      containers:
      - image: "{{ cluster_prometheus_pushgateway_image }}"
        livenessProbe:
          httpGet:
            path: /
            port: 9091
          initialDelaySeconds: 30
          timeoutSeconds: 3
        name: pushgateway
        ports:
        - containerPort: 9091
          name: http
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /
            port: 9091
          initialDelaySeconds: 3
          timeoutSeconds: 3
        resources:
          limits:
            cpu: 100m
            memory: 100Mi